<!DOCTYPE html>
<html>
<head>
  <title>
    Santa Monica Designs
  </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trendy Bootstrap templates and themes. Free, open-source, and easily customizable.">
    <meta name="author" content="James Newman">
     <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Montserrat|Tangerine' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/theme-pages.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <script src="javascripts/jquery.min.js"></script>
</head>

<body>

<section class="opening">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1>Professional Single Page</h1>
        <p>a trendy template emphasizing your words through simplicity.</p>
      </div>
    </div>
  </div>
</section>

<section class="main-display">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../images/game.png">
      </div>
      <div class="col-md-6">
       <div class="theme-info"> 
        <h3>Theme Info:</h3>
        <p>Professional Single is a one page theme that is really one page. Think of it as an online ad, with the product being sold is you.</p>

        <div class="theme-features">
          <ul>
            <li><p>Easy who, what, when, where, why</p></li>
            <li><p>No other distractions; just you</p></li>
            <li><p>Trendy</p></li>
          </ul>
        </div>
        <div class="code-used">
        <h3>Code Used:</h3>
          <ul>
            <li><a class="btn btn-xs btn-info">Html5</a></li>
            <li><a class="btn btn-xs btn-info">CSS</a></li>
            <li><a class="btn btn-xs btn-info">Bootstrap</a></li>
          </ul>
        </div> 

        <div class="download">
        <br/>
          <li><a href="" class="btn btn-md btn-danger">Live Preview<span><i class="fa fa-desktop fa-2x"></i></span></a></li>
          <li><a href="" class="btn btn-md btn-danger">Download<span><i class="fa fa-cloud-download fa-2x"></i></span></a></li>
          <li><a href="" class="btn btn-md btn-danger">View Source<span><i class="fa fa-github fa-2x"></i></span></a></li>
        </div> 
       </div> <!-- first column -->

      </div> <!-- second column -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>


<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4">
              <span class="copyright">Made with <i class="fa fa-heart fa-1x"></i> by <a href="http://jnewman.co" target="_blank">James Newman</a></span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://github.com/jnewman12" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
<!-- analytics -->
<script>


</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/jquery.hoverex.min.js"></script>
<script src="javascripts/main.js"></script>